div.top{
   background-color: lightblue;
   height: 250px;;
   max-width:1330px;
}

.Job {
padding-left: 400px;
color: white;
		padding: 5px;
		font-size: 20px;
		
}

.Skills{
	padding-left: 630px;
	color: white;
		padding: 5px;
		font-size: 20px;
		
}

.Home{
	padding-left: 840px;
	color: white;
		padding: 5px;
		font-size: 20px;
		
}

.Home:hover {
	opacity: .5;
}
.Job:hover {
	opacity: .5;
}

.Skills:hover{
	opacity: .5;
}


span.text{
	
	
	
	font-size: 30px;
	font-family: 'Roboto Mono', monospace;
	color: black;
	text-decoration: underline;
	
	

}

div.right{
	
	width: 600px;
	margin-left : 700px;

	
}


.highlight{
	color: orange;
	font-size: 88px;
    font-family: 'Bree Serif', serif;
	padding-left : 700px;


}


a:link    {
color:white;
text-decoration: none;
}
a:visited {
	color:white;
	text-decoration: none;
}




.me{
	margin-top : 200px;
	font-size: 60px;
    margin-left: 40%;
    font-family: 'PT Sans', sans-serif;
    color: white;
    border: 3px solid white;
	
    width: 300px;
    padding: 20px;

}



.topic{
color:Aquamarine ;
font-family: 'Open Sans', sans-serif;
font-size: 40px;
letter-spacing: 2px;
position: absolute;
left: 5%;
top: 5%;
}

.osellPic{
	position: absolute;
	top: 30%;
	left: 20%;
}

div.lower{
	 background-color: lightblue;
     height: 250px;;
     width: 100%;
	 margin-top:550px;
	
}

p2{
	font-family: 'Gidugu', sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
    position: relative;
    top:-60px;
    left: 200px;
}
small{
	position: relative;
	top: -20px;
	left: 200px;
}


}




.download{
	
	font-size:40px;
	color: black;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 2px;
	line-height: 1.8;
	
	margin-left: 44%;
	margin-top: 2%;
}
